@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

$font-color: #333;
$padding-size: 30px;
$navbar-height: 60px;
$navbar-color: rgb(49, 49, 49);