@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
.svg-icon {
  width: 60px;
  -webkit-filter: grayscale(1) brightness(0.75);
          filter: grayscale(1) brightness(0.75);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.svg-icon:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.svg-icon:hover + .icon-text {
  opacity: 1;
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.icon-text {
  opacity: 0;
  position: absolute;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  width: 70px;
}

.icon-wrapper div {
  margin-top: 5px;
}

.slide-in {
  -webkit-animation: 0.5s slide-in;
          animation: 0.5s slide-in;
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.slide-in-right {
  -webkit-animation: 1.5s slide-in-right;
          animation: 1.5s slide-in-right;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-100px) translateY(-1em);
            transform: translateX(-100px) translateY(-1em);
  }
  46% {
    -webkit-transform: translateX(0) translateY(-1em);
            transform: translateX(0) translateY(-1em);
  }
  54% {
    -webkit-transform: translateX(0) translateY(-1em);
            transform: translateX(0) translateY(-1em);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-100px) translateY(-1em);
            transform: translateX(-100px) translateY(-1em);
  }
  46% {
    -webkit-transform: translateX(0) translateY(-1em);
            transform: translateX(0) translateY(-1em);
  }
  54% {
    -webkit-transform: translateX(0) translateY(-1em);
            transform: translateX(0) translateY(-1em);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.slide-in-left {
  -webkit-animation: 1.5s slide-in-left;
          animation: 1.5s slide-in-left;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(100px) translateY(1em);
            transform: translateX(100px) translateY(1em);
  }
  46% {
    -webkit-transform: translateX(0%) translateY(1em);
            transform: translateX(0%) translateY(1em);
  }
  54% {
    -webkit-transform: translateX(0%) translateY(1em);
            transform: translateX(0%) translateY(1em);
  }
  100% {
    -webkit-transform: translateX(0%) translateY(0%);
            transform: translateX(0%) translateY(0%);
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(100px) translateY(1em);
            transform: translateX(100px) translateY(1em);
  }
  46% {
    -webkit-transform: translateX(0%) translateY(1em);
            transform: translateX(0%) translateY(1em);
  }
  54% {
    -webkit-transform: translateX(0%) translateY(1em);
            transform: translateX(0%) translateY(1em);
  }
  100% {
    -webkit-transform: translateX(0%) translateY(0%);
            transform: translateX(0%) translateY(0%);
  }
}

.slide-in-delayed {
  -webkit-animation: 1.5s slide-in-delayed;
          animation: 1.5s slide-in-delayed;
}

@-webkit-keyframes slide-in-delayed {
  0% {
    -webkit-transform: translateX(-270px);
            transform: translateX(-270px);
  }
  50% {
    -webkit-transform: translateX(-270px);
            transform: translateX(-270px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-delayed {
  0% {
    -webkit-transform: translateX(-270px);
            transform: translateX(-270px);
  }
  50% {
    -webkit-transform: translateX(-270px);
            transform: translateX(-270px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fade-in-delayed {
  -webkit-animation: 1.75s fade-in-delayed;
          animation: 1.75s fade-in-delayed;
}

@-webkit-keyframes fade-in-delayed {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-delayed {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rotate-left {
  -webkit-animation: 0.3s rotate-left forwards;
          animation: 0.3s rotate-left forwards;
}

@-webkit-keyframes rotate-left {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes rotate-left {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.rotate-right {
  -webkit-animation: 0.3s rotate-right forwards;
          animation: 0.3s rotate-right forwards;
}

@-webkit-keyframes rotate-right {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes rotate-right {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

#navbar {
  z-index: 1;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(45deg, #101010 63%, #313131 75%);
  color: white;
  border-top: 4px solid #cc0000;
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar a {
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#navbar a:hover {
  color: #cc0000;
}

#navbar-container {
  list-style: none;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar-container li {
  height: 100%;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + section {
  padding-top: 90px;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 2.3em;
  line-height: 1.4;
  font-weight: 500;
  padding: 120px 30px;
}

#intro-section {
  overflow: hidden;
  margin: 0;
  color: #333;
}

#intro-section #first-name {
  color: #cc0000;
  margin-right: 0;
}

#intro-section span {
  display: inline-block;
  margin-right: 0.25em;
}

h3 {
  font-size: 1.7em;
  font-weight: 400;
  padding-bottom: 30px;
}

h3 .fa-chevron-right {
  margin-right: 30px;
}

h3 .fa-chevron-right:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

h4 {
  font-size: 1.45em;
  font-weight: 400;
  margin-bottom: 15px;
}

.project-section {
  padding: 30px;
  color: #333;
  overflow: hidden;
}

.project-section p {
  line-height: 1.8;
  margin-bottom: 40px;
}

.project-section a {
  color: inherit;
  font-size: 1.3em;
  border: 1px solid #333;
  border-radius: 3px;
  margin-right: 30px;
  margin-bottom: 10px;
  background: transparent;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-section a:hover {
  background: black;
  color: white;
}

.project-section a svg {
  margin-left: 0.5em;
  font-size: 0.8em;
}

.project-image {
  float: right;
  width: 60%;
  padding: 0px 30px 30px 30px;
}

@media screen and (max-width: 1200px) {
  .project-image {
    float: none;
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .project-section a {
    font-size: 1.1em;
    padding: 10px 10px;
  }
  #intro-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  h1 {
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=style.css.map */