@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@import './icons';
@import './variables';

* {
    box-sizing: border-box;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    z-index: 1;
    width: 100%;
    height: $navbar-height;
    background-image: linear-gradient(45deg, darken($navbar-color, 10%) 60%, $navbar-color 75%);
    color: white;
}
#navbar-container {
    list-style: none;
    height: 100%;
    width: 100%;
    @include flex(center, center);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + section {
    padding-top: $navbar-height + $padding-size;
}


body {
    font-size: 16px;
}

h1 {
    font-size: 2.3em;
    color: $font-color;
    line-height: 1.4;
    font-weight: 500;
    padding-left: $padding-size;
}

section {
    overflow: hidden;
    margin: 0;
}

.slide-in {
    animation: 0.5s slide-in;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(30px)
    }
    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}

.slide-in-right {
    animation: 0.9s slide-in-right;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0%);
    }
}


.rotate-left {
    animation: 0.3s rotate-left forwards;
}

@keyframes rotate-left {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(90deg);
    }
}

.rotate-right {
    animation: 0.3s rotate-right forwards;
}

@keyframes rotate-right {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0);
    }
}
h3 {
    font-size: 1.7em;
    font-weight: 400;
    padding-bottom: $padding-size;
    .fa-chevron-right {
        margin-right: $padding-size;
        &:hover {
            transform: scale(1.09);
        }
    }
}

h4 {
    font-size: 1.45em;
    font-weight: 400;
    margin-bottom: 15px;
}

.project-section {
    padding: $padding-size;
    color: $font-color;
    p {
        line-height: 1.8;
        margin-bottom: 40px;
    }
    a {
        text-decoration: none;
        color: inherit;
        font-size: 1.3em;
        border: 1px solid $font-color;
        border-radius: 3px;
        margin-right: $padding-size; 
        margin-bottom: 10px;
        background: transparent;
        padding: 10px 20px;
        transition: all 0.3s ease;
        &:hover {
            background: rgb(0, 0, 0);
            color: white;
        }
        svg {
            margin-left: 0.5em;
            font-size: 0.8em;
        }
    }
}

.project-image {
    float: right;
    width: 60%;
    padding: 0px $padding-size $padding-size $padding-size;
}

@media screen and (max-width: 1200px) {
    .project-image {
        float: none;
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .project-section {
        a {
            font-size: 1.1em;
            padding: 10px 10px;
        }
    }
    h1 {
        font-size: 1.5em;
    }
}
